body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 300px;
    text-align: center;
}

input {
    padding: 10px;
    width: 60%;
    margin-right: 5px;
}

button {
    padding: 10px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #218838;
	transition: 0.2s;
}

ul {
    list-style: none;
    padding: 0;
    text-align: left;
    margin-top: 20px;
}

li {
    background: #fff;
    border-bottom: 1px solid #ddd;
    padding: 10px;
    font-size: 16px;
}
li:hover {
	transition: 0.2s;
	background: #dfdfdf;
	border-radius: 5px;
}